In [1]:
# Dependencies
# import numpy as np
import pandas as pd
import datetime as dt
import requests
import json

# Extract: Data Pull

## Extract Data & Clean

### API Tracking data from CDC

#### Max temp days

In [2]:
# URL for GET requests to retrieve data
version = "v1"
measureId = 423 # Requires a valid measureID
stratificationLevelId = 82 # Requires a valid stratificationLevelId.
geographicTypeIdFilter = 1 # Requires a valid geographicTypeID or ALL.
geographicItemsFilter = 4 # Filter to retrieve only certain geographicItems.
temporalTypeIdFilter = 1 # Requires a valid temporal type id matching temporal items (e.g., 1)
temporalItemsFilter = "2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011" # Requires valid temporal items entries (e.g., 2020) separated by comma.
isSmoothed = 0 # 0 not smoothed- most data isn't
getFullCoreHolder = 0 # Requires either a one or zero (true or false) for fetching the full core holder. 


# Build the endpoint URL
MaxTempDays_url = f"https://ephtracking.cdc.gov/apigateway/api/{version}/getCoreHolder/{measureId}/{stratificationLevelId}/{geographicTypeIdFilter}/{geographicItemsFilter}/{temporalTypeIdFilter}/{temporalItemsFilter}/{isSmoothed}/{getFullCoreHolder}?TemperatureHeatIndexId=1&RelativeThresholdId=1" #{getFullCoreHolder}

response = requests.get(MaxTempDays_url).json()

# Isolate tableResult for easy reading
data = response["tableResult"]

#for index, element in enumerate(data):
#  print(index, ":", element)

In [3]:
# Create an empty list to hold summaries
summary_list = []

# loop through the data
for bob in data:
    county = bob["geo"]
    year = bob["temporal"]
    days = bob["dataValue"]
    
    # create summary dictionary
    summary_dict = {
        "County": county,
        "Year": year,
        "Extreme Heat Days" : days
    }
    
    # Append the sumary dict to the list
    summary_list.append(summary_dict)

EHD = pd.DataFrame(summary_list) 
EHD

     County  Year Extreme Heat Days
0    Apache  2011                19
1    Apache  2012                19
2    Apache  2013                18
3    Apache  2014                 5
4    Apache  2015                18
..      ...   ...               ...
160    Yuma  2017                21
161    Yuma  2018                19
162    Yuma  2019                22
163    Yuma  2020                36
164    Yuma  2021                24

[165 rows x 3 columns]

In [5]:
# Export the cleaned DataFrame as a CSV file. 
EHD.to_csv("data/ExtremeHeatDays.csv", encoding='utf8', index=False)

#### ED visits for over 35

In [6]:
# URL for GET requests to retrieve data
version = "v1"
measureId = 108 # Requires a valid measureID
stratificationLevelId = 2 # Requires a valid stratificationLevelId.
geographicTypeIdFilter = "all" # Requires a valid geographicTypeID or ALL.
geographicItemsFilter = "all" # Filter to retrieve only certain geographicItems.
temporalTypeIdFilter = 1 # Requires a valid temporal type id matching temporal items (e.g., 1)
temporalItemsFilter = "2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011" # Requires valid temporal items entries (e.g., 2020) separated by comma.
isSmoothed = 0 # 0 not smoothed- most data isn't
getFullCoreHolder = 0 # Requires either a one or zero (true or false) for fetching the full core holder. 


# Build the endpoint URL
Hosp35_url = f"https://ephtracking.cdc.gov/apigateway/api/{version}/getCoreHolder/{measureId}/{stratificationLevelId}/{geographicTypeIdFilter}/{geographicItemsFilter}/{temporalTypeIdFilter}/{temporalItemsFilter}/{isSmoothed}/{getFullCoreHolder}"

#https://ephtracking.cdc.gov/apigateway/api/v1/getCoreHolder/108/2/all/all/1/2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011/0/0

response = requests.get(Hosp35_url).json()

# Isolate tableResult for easy reading
data = response["tableResult"]

In [7]:
# Create an empty list to hold summaries
summary_list = []

# loop through the data
for bob in data:
    state = bob["parentGeoId"]
    county = bob["geo"]
    year = bob["temporal"]
    rate = bob["dataValue"]
    
    # create summary dictionary
    summary_dict = {
        "State" : state,
        "County": county,
        "Year": year,
        "Age Adjusted Rate ED" : rate
    }
    
    # Append the sumary dict to the list
    summary_list.append(summary_dict)

ED35 = pd.DataFrame(summary_list)  
ED35 #results all states

      State  County  Year Age Adjusted Rate ED
0        04  Apache  2011                 22.2
1        04  Apache  2012                 25.9
2        04  Apache  2013                 21.7
3        04  Apache  2014                 17.5
4        04  Apache  2015                 23.1
...     ...     ...   ...                  ...
16308    55    Wood  2017                 42.3
16309    55    Wood  2018                 41.0
16310    55    Wood  2019                 41.0
16311    55    Wood  2020                 33.0
16312    55    Wood  2021                 34.0

[16313 rows x 4 columns]

In [9]:
#select rows where 'state' is AZ, 04
ED35 = ED35.loc[ED35['State'] == "04"]
ED35 = ED35.drop(columns=["State"])

In [11]:
ED35.to_csv("data/EDRates35.csv", encoding='utf8', index=False)

### HRI Data from Arizona Department of Health Services (AZDHS)

#### ED visits

In [13]:
# File to Load
# Read the ED Visits data into a Pandas DataFrame
ed_visits_df = pd.read_csv('data/AZ-EDVisits.csv')

# Get a brief summary of the ED visits DataFrame.
# ed_visits_df.info()

In [15]:
#drop duplicates & rows with GeogID 'ALL'
ed_visits_df = ed_visits_df.drop_duplicates(keep='first')
ed_visits_df = ed_visits_df[ed_visits_df['GeogID']!= 'ALL']
# ed_visits_df.head()

In [16]:
#Pull Necessary columns and rename
ed_visits_df = ed_visits_df[['Name', 'Year', 'Value']]
ed_visits_df.rename(columns={'Name': 'county', 'Year': 'year', 'Value': 'ed_rate'}, inplace=True)
# ed_visits_df.head()

       county  year  ed_rate
0      NAVAJO  2011    17.72
2        PIMA  2011    20.12
4       PINAL  2011    37.73
6  SANTA CRUZ  2011    17.72
8     YAVAPAI  2011    12.76

In [18]:
#sort and reset index
ed_visits_df = ed_visits_df.sort_values(by=['year', 'county'])
ed_visits_df = ed_visits_df.reset_index(drop=True)
#ed_visits_df.head(20)

In [19]:
# Export the cleaned DataFrame as a CSV file. 
ed_visits_df.to_csv("data/cleaned-AZ-EDVisits.csv", encoding='utf8', index=False)

#### Hospitalization Data

In [22]:
# Read the Hospitalization data into a Pandas DataFrame
hosp_df = pd.read_csv('data/AZ_Hospitalizations.csv')

# drop duplicates & rows with GeogID 'ALL'
hosp_df = hosp_df.drop_duplicates(keep='first')
hosp_df = hosp_df[hosp_df['GeogID']!= 'ALL']

# Pull Necessary columns and rename
hosp_df = hosp_df[['Name', 'Year', 'Value']]
hosp_df.rename(columns={'Name': 'county', 'Year': 'year', 'Value': 'hosp_rate'}, inplace=True)

# sort and reset index
hosp_df = hosp_df.sort_values(by=['year', 'county'])
hosp_df = hosp_df.reset_index(drop=True)

hosp_df.head()

     county  year  hosp_rate
0      GILA  2011       0.00
1  GREENLEE  2011       0.00
2  MARICOPA  2011       8.73
3    MOHAVE  2011      11.43
4      PIMA  2011       4.79

In [23]:
# Export the cleaned DataFrame as a CSV file. 
hosp_df.to_csv("data/cleaned_AZ_Hospitalizations.csv", encoding='utf8', index=False)

#### Vulnerability Data

In [33]:
# Read the Vulnerability data into a Pandas DataFrame
vulnerability_df = pd.read_csv('data/AZ_Vulnerability.csv')

# drop duplicates & rows with GeogID 'ALL'
vulnerability_df = vulnerability_df.drop_duplicates(keep='first')
vulnerability_df = vulnerability_df[vulnerability_df['GeogID']!= 'ALL']

# Pull Necessary columns and rename
vulnerability_df = vulnerability_df[['Name', 'Year', 'Value']]
vulnerability_df.rename(columns={'Name': 'county', 'Year': 'year', 'Value': 'SVI'}, inplace=True)

# sort and reset index
vulnerability_df = vulnerability_df.sort_values(by=['year', 'county'])
vulnerability_df = vulnerability_df.reset_index(drop=True)
vulnerability_df.head()

     county  year    SVI
0    APACHE  2010  0.993
1   COCHISE  2010  0.864
2  COCONINO  2010  0.819
3      GILA  2010  0.801
4    GRAHAM  2010  0.984

In [34]:
# Export the cleaned DataFrame as a CSV file. 
vulnerability_df.to_csv("data/cleaned_AZ_Vulnerability.csv", encoding='utf8', index=False)

## Merge Data into CSV

In [35]:
# Combine the data into a single dataset.  
rates_df = pd.merge(ed_visits_df, hosp_df, left_on=['county','year'], right_on = ['county','year'])
#rates_df.head()

# Combine the data into a single dataset.  
df2 = pd.merge(rates_df, vulnerability_df, left_on=['county','year'], right_on = ['county','year'])
df2.head()

     county  year  ed_rate  hosp_rate    SVI
0   COCHISE  2014    18.16       4.81  0.906
1      GILA  2014    21.05       0.00  0.882
2  MARICOPA  2014    24.46       6.04  0.669
3    MOHAVE  2014    75.08       8.25  0.877
4      PIMA  2014    18.80       5.25  0.840

In [36]:
# Export the cleaned DataFrame as a CSV file. 
df2.to_csv("data/HRI.csv", encoding='utf8', index=False)

# Load: SQLite database

In [2]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean

from pathlib import Path
import pandas as pd

C:\Users\Noell\AppData\Local\Temp\ipykernel_22436\3294037912.py:6: MovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
Path('hri.sqlite').touch()

In [4]:
# create engine to HRI.sqlite
engine = create_engine("sqlite:///data/HRI.sqlite")

In [5]:
engine.execute('''CREATE TABLE hri (county text, year int, ED_rates float, Hosp_rates float, SVI float, HeatDays float)''')
engine.execute('''CREATE TABLE ed_visit (county text, year int, ed_rate float)''')
engine.execute('''CREATE TABLE hospitalization (county text, year int, hosp_rate float)''')
engine.execute('''CREATE TABLE vulnerability (county text, year int, vul_rate float)''')
engine.execute('''CREATE TABLE extreme_heat_days (county text, year int, ext_heat_days float)''')
engine.execute('''CREATE TABLE ed_visit_35 (county text, year int, ed_rate_35 float)''')

OperationalError: (sqlite3.OperationalError) table hri already exists
[SQL: CREATE TABLE hri (county text, year int, ED_rates float, Hosp_rates float, SVI float, HeatDays float)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [7]:
# load the data into a Pandas DataFrame and write to sqlite table
hri = pd.read_csv('data/HRI.csv')
hri.to_sql('hri', engine, if_exists='append', index = False)

ed_visit = pd.read_csv('data/cleaned-AZ-EDVisits.csv')
ed_visit.to_sql('ed_visit', engine, if_exists='append', index = False)

hospital = pd.read_csv('data/cleaned_AZ_Hospitalizations.csv')
hospital.to_sql('hospitalization', engine, if_exists='append', index = False)

vulnerability = pd.read_csv('data/cleaned_AZ_Vulnerability.csv')
vulnerability.to_sql('vulnerability', engine, if_exists='append', index = False)

extreme_heat_days = pd.read_csv('data/ExtremeHeatDays.csv')
extreme_heat_days.to_sql('extreme_heat_days', engine, if_exists='append', index = False)

ed_visit_35 = pd.read_csv('data/EDRates35.csv')
ed_visit_35.to_sql('ed_visit_35', engine, if_exists='append', index = False)

OperationalError: (sqlite3.OperationalError) table hri has no column named ed_rate
[SQL: INSERT INTO hri (county, year, ed_rate, hosp_rate, "SVI") VALUES (?, ?, ?, ?, ?)]
[parameters: (('COCHISE', 2014, 18.16, 4.81, 0.906), ('GILA', 2014, 21.05, 0.0, 0.882), ('MARICOPA', 2014, 24.46, 6.04, 0.669), ('MOHAVE', 2014, 75.08, 8.25, 0.877), ('PIMA', 2014, 18.8, 5.25, 0.84), ('PINAL', 2014, 35.45, 5.18, 0.848), ('YAVAPAI', 2014, 6.98, 2.5, 0.599), ('YUMA', 2014, 82.8, 14.74, 0.993)  ... displaying 10 of 15 total bound parameter sets ...  ('YAVAPAI', 2016, 29.18, 2.28, 0.546), ('YUMA', 2016, 88.98, 16.8, 0.99))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [39]:
Base = automap_base() 
# reflect an existing database into a new model
Base.prepare(autoload_with=engine) 
# reflect the tables

In [40]:
# View all of the classes that automap found
Base.classes.keys()

[]

In [41]:
# Save references to each table
ED = Base.classes.ED
Hospitalizations = Base.classes.hospitalizations
SVI = Base.classes.SVI

AttributeError: ED

In [ ]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

In [42]:
session.close()

NameError: name 'session' is not defined