In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean

from pathlib import Path
import pandas as pd

In [2]:
Path('hri.sqlite')

PosixPath('hri.sqlite')

In [3]:
engine = create_engine(f'sqlite:///hri.sqlite')

In [11]:
engine.execute('''CREATE TABLE hri (id int PRIMARY KEY, county text, year int, ED_rates float, Hosp_rates float, SVI float, HeatDays float)''')

In [12]:
engine.execute('''CREATE TABLE ed_visit (id int PRIMARY KEY, county text, year int, ed_rate float)''')
engine.execute('''CREATE TABLE hospitalization (id int PRIMARY KEY, county text, year int, hosp_rate float)''')
engine.execute('''CREATE TABLE vulnerability (id int PRIMARY KEY, county text, year int, SVI float)''')
engine.execute('''CREATE TABLE extreme_heat_days (id int PRIMARY KEY, county text, year int, ext_heat_days float)''')
engine.execute('''CREATE TABLE ed_visit_35 (id int PRIMARY KEY, county text, year int, ed_rate_35 float)''')

In [13]:
# load the data into a Pandas DataFrame and write to sqlite table
hri = pd.read_csv('hri.csv')
hri.to_sql('hri', engine, if_exists='append', index = False)

87

In [14]:

ed_visit = pd.read_csv('cleaned-AZ-EDVisits.csv')
ed_visit.to_sql('ed_visit', engine, if_exists='append', index = False)

hospital = pd.read_csv('cleaned_AZ_Hospitalizations.csv')
hospital.to_sql('hospitalization', engine, if_exists='append', index = False)

vulnerability = pd.read_csv('cleaned_AZ_Vulnerability.csv')
vulnerability.to_sql('vulnerability', engine, if_exists='append', index = False)

extreme_heat_days = pd.read_csv('ExtremeHeatDays.csv')
extreme_heat_days.to_sql('extreme_heat_days', engine, if_exists='append', index = False)

ed_visit_35 = pd.read_csv('EDRates35.csv')
ed_visit_35.to_sql('ed_visit_35', engine, if_exists='append', index = False)

OperationalError: (sqlite3.OperationalError) table extreme_heat_days has no column named Extreme Heat Days
[SQL: INSERT INTO extreme_heat_days (id, "County", "Year", "Extreme Heat Days") VALUES (?, ?, ?, ?)]
[parameters: ((0, 'Apache', 2011, 19), (1, 'Apache', 2012, 19), (2, 'Apache', 2013, 18), (3, 'Apache', 2014, 5), (4, 'Apache', 2015, 18), (5, 'Apache', 2016, 16), (6, 'Apache', 2017, 16), (7, 'Apache', 2018, 31)  ... displaying 10 of 165 total bound parameter sets ...  (163, 'Yuma', 2020, 36), (164, 'Yuma', 2021, 24))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [5]:
extreme_heat_days = pd.read_csv('ExtremeHeatDays.csv')
extreme_heat_days.to_sql('extreme_heat_days', engine, if_exists='append', index = False)

ed_visit_35 = pd.read_csv('EDRates35.csv')
ed_visit_35.to_sql('ed_visit_35', engine, if_exists='append', index = False)

165