In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from pprint import pprint

In [2]:
# Dependencies
# import numpy as np
import pandas as pd
import datetime as dt
import requests
import json

# Extract & Clean Data

### API Tracking data

#### Max temp days

In [3]:
# URL for GET requests to retrieve data
version = "v1"
measureId = 423 # Requires a valid measureID
stratificationLevelId = 82 # Requires a valid stratificationLevelId.
geographicTypeIdFilter = 1 # Requires a valid geographicTypeID or ALL.
geographicItemsFilter = 4 # Filter to retrieve only certain geographicItems.
temporalTypeIdFilter = 1 # Requires a valid temporal type id matching temporal items (e.g., 1)
temporalItemsFilter = "2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011" # Requires valid temporal items entries (e.g., 2020) separated by comma.
isSmoothed = 0 # 0 not smoothed- most data isn't
getFullCoreHolder = 0 # Requires either a one or zero (true or false) for fetching the full core holder. 


# Build the endpoint URL
MaxTempDays_url = f"https://ephtracking.cdc.gov/apigateway/api/{version}/getCoreHolder/{measureId}/{stratificationLevelId}/{geographicTypeIdFilter}/{geographicItemsFilter}/{temporalTypeIdFilter}/{temporalItemsFilter}/{isSmoothed}/{getFullCoreHolder}?TemperatureHeatIndexId=1&RelativeThresholdId=1" #{getFullCoreHolder}

response = requests.get(MaxTempDays_url).json()

# Isolate tableResult for easy reading
data = response["tableResult"]

#for index, element in enumerate(data):
#  print(index, ":", element)

In [4]:
# Create an empty list to hold summaries
summary_list = []

# loop through the data
for bob in data:
    county = bob["geo"]
    year = bob["temporal"]
    days = bob["dataValue"]
    
    # create summary dictionary
    summary_dict = {
        "County": county,
        "Year": year,
        "Extreme Heat Days" : days
    }
    
    # Append the sumary dict to the list
    summary_list.append(summary_dict)

EHD = pd.DataFrame(summary_list) 
EHD

     County  Year Extreme Heat Days
0    Apache  2011                19
1    Apache  2012                19
2    Apache  2013                18
3    Apache  2014                 5
4    Apache  2015                18
..      ...   ...               ...
160    Yuma  2017                21
161    Yuma  2018                19
162    Yuma  2019                22
163    Yuma  2020                36
164    Yuma  2021                24

[165 rows x 3 columns]

In [5]:
# Export the cleaned DataFrame as a CSV file. 
EHD.to_csv("../data/ExtremeHeatDays.csv", encoding='utf8', index=False)

#### ED visits for over 35

In [6]:

# URL for GET requests to retrieve data
version = "v1"
measureId = 108 # Requires a valid measureID
stratificationLevelId = 2 # Requires a valid stratificationLevelId.
geographicTypeIdFilter = "all" # Requires a valid geographicTypeID or ALL.
geographicItemsFilter = "all" # Filter to retrieve only certain geographicItems.
temporalTypeIdFilter = 1 # Requires a valid temporal type id matching temporal items (e.g., 1)
temporalItemsFilter = "2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011" # Requires valid temporal items entries (e.g., 2020) separated by comma.
isSmoothed = 0 # 0 not smoothed- most data isn't
getFullCoreHolder = 0 # Requires either a one or zero (true or false) for fetching the full core holder. 


# Build the endpoint URL
Hosp35_url = f"https://ephtracking.cdc.gov/apigateway/api/{version}/getCoreHolder/{measureId}/{stratificationLevelId}/{geographicTypeIdFilter}/{geographicItemsFilter}/{temporalTypeIdFilter}/{temporalItemsFilter}/{isSmoothed}/{getFullCoreHolder}"

#https://ephtracking.cdc.gov/apigateway/api/v1/getCoreHolder/108/2/all/all/1/2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011/0/0

response = requests.get(Hosp35_url).json()

# Isolate tableResult for easy reading
data = response["tableResult"]

In [7]:
# Create an empty list to hold summaries
summary_list = []

# loop through the data
for bob in data:
    state = bob["parentGeoId"]
    county = bob["geo"]
    year = bob["temporal"]
    rate = bob["dataValue"]
    
    # create summary dictionary
    summary_dict = {
        "State" : state,
        "County": county,
        "Year": year,
        "Age Adjusted Rate ED" : rate
    }
    
    # Append the sumary dict to the list
    summary_list.append(summary_dict)

ED35 = pd.DataFrame(summary_list)  
ED35 #results all states

      State  County  Year Age Adjusted Rate ED
0        04  Apache  2011                 22.2
1        04  Apache  2012                 25.9
2        04  Apache  2013                 21.7
3        04  Apache  2014                 17.5
4        04  Apache  2015                 23.1
...     ...     ...   ...                  ...
16308    55    Wood  2017                 42.3
16309    55    Wood  2018                 41.0
16310    55    Wood  2019                 41.0
16311    55    Wood  2020                 33.0
16312    55    Wood  2021                 34.0

[16313 rows x 4 columns]

In [8]:
#select rows where 'state' is AZ, 04
ED35 = ED35.loc[ED35['State'] == "04"]

ED35 = ED35.drop(columns=["State"])

In [9]:
ED35.to_csv("../data/EDRates35.csv", encoding='utf8', index=False)

### HRI Data from Arizona Department of Health Services (AZDHS)

In [10]:
# File to Load
    # Read the ED Visits data into a Pandas DataFrame
ed_visits_df = pd.read_csv('../data/AZ-EDVisits.csv')
Hosp_df = pd.read_csv('../data/AZ_Hospitalizations.csv')
SVI_df = pd.read_csv('../data/AZ_Vulnerability.csv')
# HeatDays_df = pd.read_csv('../data/AZ-NoHeatDays.csv') #removed

In [11]:
#Pull Necessary columns and rename
ed_visits_df = ed_visits_df[['Name', 'Year', 'GeogID', 'Value']]
ed_visits_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'ED_rates'}, inplace=True)
ed_visits_df.head()

   county  year county_id  ED_rates
0  NAVAJO  2011      4017     17.72
1  NAVAJO  2011      4017     17.72
2    PIMA  2011      4019     20.12
3    PIMA  2011      4019     20.12
4   PINAL  2011      4021     37.73

In [12]:
ed_visits_df = ed_visits_df.drop_duplicates(keep='first')
ed_visits_df.head()

       county  year county_id  ED_rates
0      NAVAJO  2011      4017     17.72
2        PIMA  2011      4019     20.12
4       PINAL  2011      4021     37.73
6  SANTA CRUZ  2011      4023     17.72
8     YAVAPAI  2011      4025     12.76

In [13]:
Hosp_df = Hosp_df[['Name', 'Year', 'GeogID', 'Value']]
Hosp_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'Hosp_rates'}, inplace=True)
Hosp_df.head()

     county  year county_id  Hosp_rates
0  GREENLEE  2011      4011        0.00
1  GREENLEE  2011      4011        0.00
2  MARICOPA  2011      4013        8.73
3  MARICOPA  2011      4013        8.73
4    MOHAVE  2011      4015       11.43

In [14]:
Hosp_df = Hosp_df.drop_duplicates(keep='first')
Hosp_df.head()

     county  year county_id  Hosp_rates
0  GREENLEE  2011      4011        0.00
2  MARICOPA  2011      4013        8.73
4    MOHAVE  2011      4015       11.43
6      PIMA  2011      4019        4.79
8     PINAL  2012      4021        8.48

In [15]:
SVI_df = SVI_df[['Name', 'Year', 'GeogID', 'Value']]
SVI_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'SVI'}, inplace=True)

SVI_df.head()

     county  year county_id    SVI
0    APACHE  2010      4001  0.993
1   COCHISE  2010      4003  0.864
2  COCONINO  2010      4005  0.819
3      GILA  2010      4007  0.801
4    GRAHAM  2010      4009  0.984

In [16]:
#HeatDays_df = HeatDays_df[['Name', 'Year', 'GeogID', 'Value']]
#HeatDays_df.rename(columns={'Name': 'county', 'Year': 'year', 'GeogID': 'county_id', 'Value': 'HeatDays'}, inplace=True)

#HeatDays_df.head()

### Merge data to one csv

In [17]:
# Combine the data into a single dataset.  
rates_df = pd.merge(ed_visits_df, Hosp_df, left_on=['county','year'], right_on = ['county','year'])

# Remove county IDs
rates_df = rates_df.drop(columns=["county_id_x", "county_id_y"])
rates_df

        county  year  ED_rates  Hosp_rates
0         PIMA  2011     20.12        4.79
1        PINAL  2011     37.73       13.18
2         YUMA  2011     81.43        5.31
3      ARIZONA  2011     30.36        7.36
4     GREENLEE  2013      0.00        0.00
..         ...   ...       ...         ...
82       PINAL  2021     42.39        9.93
83  SANTA CRUZ  2021     40.66        0.00
84     YAVAPAI  2021     28.35        2.81
85        YUMA  2021     82.70       21.39
86     ARIZONA  2021     33.88        9.87

[87 rows x 4 columns]

In [18]:
# Combine the data into a single dataset.  
df2 = pd.merge(rates_df, SVI_df, how= "left",  on=['county','year'])
df2


# Remove county IDs
df2 = df2.drop(columns=["county_id"])

In [19]:
df2

        county  year  ED_rates  Hosp_rates  SVI
0         PIMA  2011     20.12        4.79  NaN
1        PINAL  2011     37.73       13.18  NaN
2         YUMA  2011     81.43        5.31  NaN
3      ARIZONA  2011     30.36        7.36  NaN
4     GREENLEE  2013      0.00        0.00  NaN
..         ...   ...       ...         ...  ...
82       PINAL  2021     42.39        9.93  NaN
83  SANTA CRUZ  2021     40.66        0.00  NaN
84     YAVAPAI  2021     28.35        2.81  NaN
85        YUMA  2021     82.70       21.39  NaN
86     ARIZONA  2021     33.88        9.87  NaN

[87 rows x 5 columns]

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 86
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      87 non-null     object
 1   year        87 non-null     int64
 2   ED_rates    87 non-null     float64
 3   Hosp_rates  87 non-null     float64
 4   SVI         17 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 4.1+ KB

In [21]:
# Export the cleaned DataFrame as a CSV file. 
df2.to_csv("../data/HRI.csv", encoding='utf8', index=False)

## Geojson counties

In [22]:
import json

In [23]:
with open('AZ-04-arizona-counties (1).json') as f:
  response = json.load(f)
  
response

{'type': 'Topology',
 'transform': {'scale': [0.0017670553225065367, 0.0012461030136843383],
  'translate': [-114.81337059380196, 31.33168393952881]},
 'arcs': [[[837, 941], [433, 0], [207, 2]],
  [[1477, 943], [233, 0], [249, -5], [110, 8], [169, 0], [10, 2], [220, 0]],
  [[2468, 948], [0, -69]],
  [[2468, 879], [0, -558]],
  [[2468, 321], [-343, -4], [-60, 0], [1, -164], [-115, -1], [0, -77]],
  [[1951, 75], [-566, 254], [-548, 240]],
  [[837, 569], [0, 372]],
  [[2468, 321], [-5, -94], [0, -226]],
  [[2463, 1], [-347, -1], [-165, 75]],
  [[1844, 2520],
   [30, 21],
   [17, -29],
   [-26, -26],
   [54, 6],
   [2, -48],
   [12, 39],
   [84, 22],
   [58, -63],
   [29, 17],
   [78, -66],
   [62, -38],
   [37, 27],
   [19, -30]],
  [[2300, 2352], [0, -210], [423, 0], [0, -340]],
  [[2723, 1802],
   [0, -89],
   [-95, -12],
   [-97, -19],
   [-57, -37],
   [-9, -69],
   [32, -78],
   [-28, -3]],
  [[2469, 1495],
   [-80, -49],
   [-23, 7],
   [-52, -58],
   [-31, -69],
   [-99, 237],
   [-11, 50],
   [-37, 100]],
  [[2136, 1713],
   [-64, 170],
   [-39, -61],
   [-37, 45],
   [-58, 95],
   [10, 38],
   [-45, 77],
   [3, 66],
   [-28, -1]],
  [[1878, 2142], [10, 121], [-138, 8], [26, 116], [9, 64], [60, 43], [-1, 26]],
  [[53, 1113],
   [8, 18],
   [22, -6],
   [28, 6],
   [26, 5],
   [22, 28],
   [36, 50],
   [3, 46],
   [-7, 17],
   [-3, 39],
   [-17, 42],
   [-3, 0]],
  [[168, 1358], [140, 5], [1, 348], [175, 1], [0, -70], [353, 0]],
  [[837, 1642], [0, -490], [0, -211]],
  [[837, 569],
   [-235, 103],
   [-602, 261],
   [1, 23],
   [9, 22],
   [-10, 11],
   [8, 23],
   [-6, 19],
   [25, 26],
   [26, 56]],
  [[2468, 879], [693, -2], [64, 1]],
  [[3225, 878], [38, 0]],
  [[3263, 878], [0, -274], [-1, -231], [0, -372], [-442, 1], [-357, -1]],
  [[837, 3368],
   [90, -18],
   [15, -22],
   [98, -69],
   [12, -29],
   [113, -40],
   [34, 4],
   [86, -60],
   [58, 19],
   [-1, -89],
   [60, -1],
   [1, -141],
   [185, 2],
   [130, 5],
   [0, -143],
   [128, -1],
   [-2, -265]],
  [[1878, 2142],
   [-130, 0],
   [-249, 38],
   [-18, -59],
   [-45, -74],
   [-265, 95],
   [-334, -1]],
  [[837, 2141], [0, 255]],
  [[837, 2396], [0, 956], [0, 16]],
  [[104, 1687],
   [18, 46],
   [42, 49],
   [-3, 44],
   [2, 44],
   [12, 25],
   [4, 21],
   [-4, 33],
   [-9, 54],
   [8, 30],
   [-1, 29],
   [-15, 22],
   [14, 23],
   [31, 44],
   [11, 25],
   [3, 29],
   [1, 11],
   [13, 15],
   [32, 19],
   [32, 25],
   [36, 16],
   [29, 42],
   [22, 16],
   [-1, 35]],
  [[381, 2384],
   [62, -35],
   [102, -6],
   [97, -34],
   [42, 16],
   [37, 62],
   [95, -12],
   [21, 21]],
  [[837, 2141], [0, -348], [0, -151]],
  [[168, 1358],
   [-33, 10],
   [-30, -4],
   [-24, 5],
   [-20, 54],
   [15, 44],
   [1, 57],
   [2, 20],
   [-28, 26],
   [9, 28],
   [0, 43],
   [-10, 23],
   [29, 11],
   [22, 3],
   [3, 9]],
  [[432, 4423],
   [0, 126],
   [48, 0],
   [565, 0],
   [38, 0],
   [39, 0],
   [161, 0],
   [4, 0]],
  [[1287, 4549],
   [6, -39],
   [-41, -96],
   [-22, -127],
   [10, -63],
   [-22, -42],
   [21, -55],
   [-3, -67],
   [-30, -40],
   [-24, 4],
   [-39, -49],
   [-41, -2],
   [-21, -23],
   [-60, -12],
   [-73, -59],
   [-34, -10],
   [-16, -50],
   [-53, 5],
   [-20, -45],
   [21, -63],
   [-10, -38],
   [14, -40],
   [-13, -49],
   [0, -221]],
  [[381, 2384],
   [0, 2],
   [-18, 32],
   [-52, 45],
   [-40, 39],
   [-25, 0],
   [0, 54],
   [-25, 51],
   [-24, 89],
   [-14, 27],
   [-49, 72],
   [-33, 47],
   [3, 56],
   [-2, 47],
   [5, 54],
   [3, 42],
   [11, 0],
   [15, 14],
   [-8, 99],
   [-23, 119],
   [-21, 32],
   [1, 60],
   [6, 69],
   [-21, 33],
   [-4, 66],
   [-4, 65],
   [19, 40],
   [-17, 30],
   [-17, 34],
   [-7, 53],
   [0, 44],
   [0, 3],
   [4, 28],
   [39, 10],
   [22, 19],
   [32, 9],
   [34, -1],
   [14, -17],
   [22, -3],
   [17, 16],
   [26, -2],
   [20, -28],
   [12, -37],
   [25, -21],
   [33, -16],
   [35, 8],
   [7, 22],
   [22, 54],
   [30, 59],
   [-1, 60],
   [1, 45],
   [-1, 224],
   [-1, 192]],
  [[1287, 4549],
   [103, 1],
   [535, 0],
   [4, 0],
   [72, -1],
   [120, 2],
   [179, 0],
   [0, 0]],
  [[2300, 4551], [-1, -1582], [1, -617]],
  [[3009, 1863], [9, 31], [65, 38], [10, 31], [170, 1]],
  [[3263, 1964], [0, -296], [0, -161], [0, -347], [0, 0], [0, -282]],
  [[3225, 878],
   [-63, 83],
   [11, 85],
   [-22, 86],
   [-50, 81],
   [-92, 189],
   [0, 461]],
  [[2723, 1802], [56, -1], [6, -6]],
  [[2785, 1795], [70, -75], [93, 111], [61, 32]],
  [[2468, 948], [1, 19], [0, 528]],
  [[1477, 943],
   [0, 142],
   [1, 452],
   [-1, 51],
   [68, -85],
   [108, 0],
   [13, -1],
   [104, 1],
   [58, 1],
   [2, 209],
   [306, 0]],
  [[2300, 4551], [157, -4], [266, 0]],
  [[2723, 4547],
   [0, -1071],
   [99, 0],
   [-10, -116],
   [0, -559],
   [-4, -140],
   [-8, -71],
   [10, -69],
   [-7, -278],
   [0, -280],
   [-18, 0],
   [0, -168]],
  [[3264, 4548],
   [0, -100],
   [0, -608],
   [0, -91],
   [0, -99],
   [0, -213],
   [-1, -201],
   [1, -152],
   [0, -173],
   [0, -305],
   [0, -46],
   [0, -519],
   [-1, -77]],
  [[2723, 4547], [0, 0], [286, 1], [255, 0]]],
 'objects': {'cb_2015_arizona_county_20m': {'type': 'GeometryCollection',
   'geometries': [{'arcs': [[0, 1, 2, 3, 4, 5, 6]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '019',
      'COUNTYNS': '00025446',
      'AFFGEOID': '0500000US04019',
      'GEOID': '04019',
      'NAME': 'Pima',
      'LSAD': '06',
      'ALAND': 23794325411,
      'AWATER': 5273054}},
    {'arcs': [[7, 8, -5]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '023',
      'COUNTYNS': '00040472',
      'AFFGEOID': '0500000US04023',
      'GEOID': '04023',
      'NAME': 'Santa Cruz',
      'LSAD': '06',
      'ALAND': 3203593349,
      'AWATER': 3088047}},
    {'arcs': [[9, 10, 11, 12, 13, 14]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '007',
      'COUNTYNS': '00040471',
      'AFFGEOID': '0500000US04007',
      'GEOID': '04007',
      'NAME': 'Gila',
      'LSAD': '06',
      'ALAND': 12323041468,
      'AWATER': 97111975}},
    {'arcs': [[15, 16, 17, -7, 18]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '027',
      'COUNTYNS': '00023901',
      'AFFGEOID': '0500000US04027',
      'GEOID': '04027',
      'NAME': 'Yuma',
      'LSAD': '06',
      'ALAND': 14281191792,
      'AWATER': 13171316}},
    {'arcs': [[-4, 19, 20, 21, -8]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '003',
      'COUNTYNS': '00025442',
      'AFFGEOID': '0500000US04003',
      'GEOID': '04003',
      'NAME': 'Cochise',
      'LSAD': '06',
      'ALAND': 15968982233,
      'AWATER': 137024922}},
    {'arcs': [[22, -15, 23, 24, 25]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '025',
      'COUNTYNS': '00042809',
      'AFFGEOID': '0500000US04025',
      'GEOID': '04025',
      'NAME': 'Yavapai',
      'LSAD': '06',
      'ALAND': 21039920080,
      'AWATER': 11501575}},
    {'arcs': [[26, 27, -25, 28, -17, 29]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '012',
      'COUNTYNS': '00043540',
      'AFFGEOID': '0500000US04012',
      'GEOID': '04012',
      'NAME': 'La Paz',
      'LSAD': '06',
      'ALAND': 11654000682,
      'AWATER': 36568021}},
    {'arcs': [[30, 31, -26, -28, 32]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '015',
      'COUNTYNS': '00025445',
      'AFFGEOID': '0500000US04015',
      'GEOID': '04015',
      'NAME': 'Mohave',
      'LSAD': '06',
      'ALAND': 34475714657,
      'AWATER': 387347771}},
    {'arcs': [[33, 34, -10, -23, -32]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '005',
      'COUNTYNS': '00025443',
      'AFFGEOID': '0500000US04005',
      'GEOID': '04005',
      'NAME': 'Coconino',
      'LSAD': '06',
      'ALAND': 48222080889,
      'AWATER': 110096951}},
    {'arcs': [[35, 36, -21, 37]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '011',
      'COUNTYNS': '00042807',
      'AFFGEOID': '0500000US04011',
      'GEOID': '04011',
      'NAME': 'Greenlee',
      'LSAD': '06',
      'ALAND': 4773671883,
      'AWATER': 13745242}},
    {'arcs': [[38, 39, -38, -20, -3, 40, -12]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '009',
      'COUNTYNS': '00025444',
      'AFFGEOID': '0500000US04009',
      'GEOID': '04009',
      'NAME': 'Graham',
      'LSAD': '06',
      'ALAND': 11972305015,
      'AWATER': 47705575}},
    {'arcs': [[-13, -41, -2, 41]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '021',
      'COUNTYNS': '00025447',
      'AFFGEOID': '0500000US04021',
      'GEOID': '04021',
      'NAME': 'Pinal',
      'LSAD': '06',
      'ALAND': 13897001099,
      'AWATER': 22331619}},
    {'arcs': [[-29, -24, -14, -42, -1, -18]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '013',
      'COUNTYNS': '00037026',
      'AFFGEOID': '0500000US04013',
      'GEOID': '04013',
      'NAME': 'Maricopa',
      'LSAD': '06',
      'ALAND': 23826751660,
      'AWATER': 64344166}},
    {'arcs': [[42, 43, -39, -11, -35]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '017',
      'COUNTYNS': '00042808',
      'AFFGEOID': '0500000US04017',
      'GEOID': '04017',
      'NAME': 'Navajo',
      'LSAD': '06',
      'ALAND': 25770082478,
      'AWATER': 24078111}},
    {'arcs': [[44, -36, -40, -44, 45]],
     'type': 'Polygon',
     'properties': {'STATEFP': '04',
      'COUNTYFP': '001',
      'COUNTYNS': '00025441',
      'AFFGEOID': '0500000US04001',
      'GEOID': '04001',
      'NAME': 'Apache',
      'LSAD': '06',
      'ALAND': 29001812294,
      'AWATER': 54170779}}]}}}

In [24]:
for key in response:
    print(key, '->', response[key])

type -> Topology
transform -> {'scale': [0.0017670553225065367, 0.0012461030136843383], 'translate': [-114.81337059380196, 31.33168393952881]}
arcs -> [[[837, 941], [433, 0], [207, 2]], [[1477, 943], [233, 0], [249, -5], [110, 8], [169, 0], [10, 2], [220, 0]], [[2468, 948], [0, -69]], [[2468, 879], [0, -558]], [[2468, 321], [-343, -4], [-60, 0], [1, -164], [-115, -1], [0, -77]], [[1951, 75], [-566, 254], [-548, 240]], [[837, 569], [0, 372]], [[2468, 321], [-5, -94], [0, -226]], [[2463, 1], [-347, -1], [-165, 75]], [[1844, 2520], [30, 21], [17, -29], [-26, -26], [54, 6], [2, -48], [12, 39], [84, 22], [58, -63], [29, 17], [78, -66], [62, -38], [37, 27], [19, -30]], [[2300, 2352], [0, -210], [423, 0], [0, -340]], [[2723, 1802], [0, -89], [-95, -12], [-97, -19], [-57, -37], [-9, -69], [32, -78], [-28, -3]], [[2469, 1495], [-80, -49], [-23, 7], [-52, -58], [-31, -69], [-99, 237], [-11, 50], [-37, 100]], [[2136, 1713], [-64, 170], [-39, -61], [-37, 45], [-58, 95], [10, 38], [-45, 77], [3, 66], [-28, -1]], [[1878, 2142], [10, 121], [-138, 8], [26, 116], [9, 64], [60, 43], [-1, 26]], [[53, 1113], [8, 18], [22, -6], [28, 6], [26, 5], [22, 28], [36, 50], [3, 46], [-7, 17], [-3, 39], [-17, 42], [-3, 0]], [[168, 1358], [140, 5], [1, 348], [175, 1], [0, -70], [353, 0]], [[837, 1642], [0, -490], [0, -211]], [[837, 569], [-235, 103], [-602, 261], [1, 23], [9, 22], [-10, 11], [8, 23], [-6, 19], [25, 26], [26, 56]], [[2468, 879], [693, -2], [64, 1]], [[3225, 878], [38, 0]], [[3263, 878], [0, -274], [-1, -231], [0, -372], [-442, 1], [-357, -1]], [[837, 3368], [90, -18], [15, -22], [98, -69], [12, -29], [113, -40], [34, 4], [86, -60], [58, 19], [-1, -89], [60, -1], [1, -141], [185, 2], [130, 5], [0, -143], [128, -1], [-2, -265]], [[1878, 2142], [-130, 0], [-249, 38], [-18, -59], [-45, -74], [-265, 95], [-334, -1]], [[837, 2141], [0, 255]], [[837, 2396], [0, 956], [0, 16]], [[104, 1687], [18, 46], [42, 49], [-3, 44], [2, 44], [12, 25], [4, 21], [-4, 33], [-9, 54], [8, 30], [-1, 29], [-15, 22], [14, 23], [31, 44], [11, 25], [3, 29], [1, 11], [13, 15], [32, 19], [32, 25], [36, 16], [29, 42], [22, 16], [-1, 35]], [[381, 2384], [62, -35], [102, -6], [97, -34], [42, 16], [37, 62], [95, -12], [21, 21]], [[837, 2141], [0, -348], [0, -151]], [[168, 1358], [-33, 10], [-30, -4], [-24, 5], [-20, 54], [15, 44], [1, 57], [2, 20], [-28, 26], [9, 28], [0, 43], [-10, 23], [29, 11], [22, 3], [3, 9]], [[432, 4423], [0, 126], [48, 0], [565, 0], [38, 0], [39, 0], [161, 0], [4, 0]], [[1287, 4549], [6, -39], [-41, -96], [-22, -127], [10, -63], [-22, -42], [21, -55], [-3, -67], [-30, -40], [-24, 4], [-39, -49], [-41, -2], [-21, -23], [-60, -12], [-73, -59], [-34, -10], [-16, -50], [-53, 5], [-20, -45], [21, -63], [-10, -38], [14, -40], [-13, -49], [0, -221]], [[381, 2384], [0, 2], [-18, 32], [-52, 45], [-40, 39], [-25, 0], [0, 54], [-25, 51], [-24, 89], [-14, 27], [-49, 72], [-33, 47], [3, 56], [-2, 47], [5, 54], [3, 42], [11, 0], [15, 14], [-8, 99], [-23, 119], [-21, 32], [1, 60], [6, 69], [-21, 33], [-4, 66], [-4, 65], [19, 40], [-17, 30], [-17, 34], [-7, 53], [0, 44], [0, 3], [4, 28], [39, 10], [22, 19], [32, 9], [34, -1], [14, -17], [22, -3], [17, 16], [26, -2], [20, -28], [12, -37], [25, -21], [33, -16], [35, 8], [7, 22], [22, 54], [30, 59], [-1, 60], [1, 45], [-1, 224], [-1, 192]], [[1287, 4549], [103, 1], [535, 0], [4, 0], [72, -1], [120, 2], [179, 0], [0, 0]], [[2300, 4551], [-1, -1582], [1, -617]], [[3009, 1863], [9, 31], [65, 38], [10, 31], [170, 1]], [[3263, 1964], [0, -296], [0, -161], [0, -347], [0, 0], [0, -282]], [[3225, 878], [-63, 83], [11, 85], [-22, 86], [-50, 81], [-92, 189], [0, 461]], [[2723, 1802], [56, -1], [6, -6]], [[2785, 1795], [70, -75], [93, 111], [61, 32]], [[2468, 948], [1, 19], [0, 528]], [[1477, 943], [0, 142], [1, 452], [-1, 51], [68, -85], [108, 0], [13, -1], [104, 1], [58, 1], [2, 209], [306, 0]], [[2300, 4551], [157, -4], [266, 0]], [[2723, 4547], [0, -1071], [99, 0], [-10, -116], [0, -559], [-4, -140], [-8, -71], [10, -69], [-7, -278], [0, -280], [-18, 0], [0, -168]], [[3264, 4548], [0, -100], [0, -608], [0, -91], [0, -99], [0, -213], [-1, -201], [1, -152], [0, -173], [0, -305], [0, -46], [0, -519], [-1, -77]], [[2723, 4547], [0, 0], [286, 1], [255, 0]]]
objects -> {'cb_2015_arizona_county_20m': {'type': 'GeometryCollection', 'geometries': [{'arcs': [[0, 1, 2, 3, 4, 5, 6]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '019', 'COUNTYNS': '00025446', 'AFFGEOID': '0500000US04019', 'GEOID': '04019', 'NAME': 'Pima', 'LSAD': '06', 'ALAND': 23794325411, 'AWATER': 5273054}}, {'arcs': [[7, 8, -5]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '023', 'COUNTYNS': '00040472', 'AFFGEOID': '0500000US04023', 'GEOID': '04023', 'NAME': 'Santa Cruz', 'LSAD': '06', 'ALAND': 3203593349, 'AWATER': 3088047}}, {'arcs': [[9, 10, 11, 12, 13, 14]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '007', 'COUNTYNS': '00040471', 'AFFGEOID': '0500000US04007', 'GEOID': '04007', 'NAME': 'Gila', 'LSAD': '06', 'ALAND': 12323041468, 'AWATER': 97111975}}, {'arcs': [[15, 16, 17, -7, 18]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '027', 'COUNTYNS': '00023901', 'AFFGEOID': '0500000US04027', 'GEOID': '04027', 'NAME': 'Yuma', 'LSAD': '06', 'ALAND': 14281191792, 'AWATER': 13171316}}, {'arcs': [[-4, 19, 20, 21, -8]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '003', 'COUNTYNS': '00025442', 'AFFGEOID': '0500000US04003', 'GEOID': '04003', 'NAME': 'Cochise', 'LSAD': '06', 'ALAND': 15968982233, 'AWATER': 137024922}}, {'arcs': [[22, -15, 23, 24, 25]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '025', 'COUNTYNS': '00042809', 'AFFGEOID': '0500000US04025', 'GEOID': '04025', 'NAME': 'Yavapai', 'LSAD': '06', 'ALAND': 21039920080, 'AWATER': 11501575}}, {'arcs': [[26, 27, -25, 28, -17, 29]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '012', 'COUNTYNS': '00043540', 'AFFGEOID': '0500000US04012', 'GEOID': '04012', 'NAME': 'La Paz', 'LSAD': '06', 'ALAND': 11654000682, 'AWATER': 36568021}}, {'arcs': [[30, 31, -26, -28, 32]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '015', 'COUNTYNS': '00025445', 'AFFGEOID': '0500000US04015', 'GEOID': '04015', 'NAME': 'Mohave', 'LSAD': '06', 'ALAND': 34475714657, 'AWATER': 387347771}}, {'arcs': [[33, 34, -10, -23, -32]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '005', 'COUNTYNS': '00025443', 'AFFGEOID': '0500000US04005', 'GEOID': '04005', 'NAME': 'Coconino', 'LSAD': '06', 'ALAND': 48222080889, 'AWATER': 110096951}}, {'arcs': [[35, 36, -21, 37]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '011', 'COUNTYNS': '00042807', 'AFFGEOID': '0500000US04011', 'GEOID': '04011', 'NAME': 'Greenlee', 'LSAD': '06', 'ALAND': 4773671883, 'AWATER': 13745242}}, {'arcs': [[38, 39, -38, -20, -3, 40, -12]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '009', 'COUNTYNS': '00025444', 'AFFGEOID': '0500000US04009', 'GEOID': '04009', 'NAME': 'Graham', 'LSAD': '06', 'ALAND': 11972305015, 'AWATER': 47705575}}, {'arcs': [[-13, -41, -2, 41]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '021', 'COUNTYNS': '00025447', 'AFFGEOID': '0500000US04021', 'GEOID': '04021', 'NAME': 'Pinal', 'LSAD': '06', 'ALAND': 13897001099, 'AWATER': 22331619}}, {'arcs': [[-29, -24, -14, -42, -1, -18]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '013', 'COUNTYNS': '00037026', 'AFFGEOID': '0500000US04013', 'GEOID': '04013', 'NAME': 'Maricopa', 'LSAD': '06', 'ALAND': 23826751660, 'AWATER': 64344166}}, {'arcs': [[42, 43, -39, -11, -35]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '017', 'COUNTYNS': '00042808', 'AFFGEOID': '0500000US04017', 'GEOID': '04017', 'NAME': 'Navajo', 'LSAD': '06', 'ALAND': 25770082478, 'AWATER': 24078111}}, {'arcs': [[44, -36, -40, -44, 45]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '001', 'COUNTYNS': '00025441', 'AFFGEOID': '0500000US04001', 'GEOID': '04001', 'NAME': 'Apache', 'LSAD': '06', 'ALAND': 29001812294, 'AWATER': 54170779}}]}}

In [25]:
#only want objects down to geometries
data = response["objects"]['cb_2015_arizona_county_20m']['geometries']

# drill further down
#data

for index, element in enumerate(data):
  print(index, ":", element)

0 : {'arcs': [[0, 1, 2, 3, 4, 5, 6]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '019', 'COUNTYNS': '00025446', 'AFFGEOID': '0500000US04019', 'GEOID': '04019', 'NAME': 'Pima', 'LSAD': '06', 'ALAND': 23794325411, 'AWATER': 5273054}}
1 : {'arcs': [[7, 8, -5]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '023', 'COUNTYNS': '00040472', 'AFFGEOID': '0500000US04023', 'GEOID': '04023', 'NAME': 'Santa Cruz', 'LSAD': '06', 'ALAND': 3203593349, 'AWATER': 3088047}}
2 : {'arcs': [[9, 10, 11, 12, 13, 14]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '007', 'COUNTYNS': '00040471', 'AFFGEOID': '0500000US04007', 'GEOID': '04007', 'NAME': 'Gila', 'LSAD': '06', 'ALAND': 12323041468, 'AWATER': 97111975}}
3 : {'arcs': [[15, 16, 17, -7, 18]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '027', 'COUNTYNS': '00023901', 'AFFGEOID': '0500000US04027', 'GEOID': '04027', 'NAME': 'Yuma', 'LSAD': '06', 'ALAND': 14281191792, 'AWATER': 13171316}}
4 : {'arcs': [[-4, 19, 20, 21, -8]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '003', 'COUNTYNS': '00025442', 'AFFGEOID': '0500000US04003', 'GEOID': '04003', 'NAME': 'Cochise', 'LSAD': '06', 'ALAND': 15968982233, 'AWATER': 137024922}}
5 : {'arcs': [[22, -15, 23, 24, 25]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '025', 'COUNTYNS': '00042809', 'AFFGEOID': '0500000US04025', 'GEOID': '04025', 'NAME': 'Yavapai', 'LSAD': '06', 'ALAND': 21039920080, 'AWATER': 11501575}}
6 : {'arcs': [[26, 27, -25, 28, -17, 29]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '012', 'COUNTYNS': '00043540', 'AFFGEOID': '0500000US04012', 'GEOID': '04012', 'NAME': 'La Paz', 'LSAD': '06', 'ALAND': 11654000682, 'AWATER': 36568021}}
7 : {'arcs': [[30, 31, -26, -28, 32]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '015', 'COUNTYNS': '00025445', 'AFFGEOID': '0500000US04015', 'GEOID': '04015', 'NAME': 'Mohave', 'LSAD': '06', 'ALAND': 34475714657, 'AWATER': 387347771}}
8 : {'arcs': [[33, 34, -10, -23, -32]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '005', 'COUNTYNS': '00025443', 'AFFGEOID': '0500000US04005', 'GEOID': '04005', 'NAME': 'Coconino', 'LSAD': '06', 'ALAND': 48222080889, 'AWATER': 110096951}}
9 : {'arcs': [[35, 36, -21, 37]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '011', 'COUNTYNS': '00042807', 'AFFGEOID': '0500000US04011', 'GEOID': '04011', 'NAME': 'Greenlee', 'LSAD': '06', 'ALAND': 4773671883, 'AWATER': 13745242}}
10 : {'arcs': [[38, 39, -38, -20, -3, 40, -12]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '009', 'COUNTYNS': '00025444', 'AFFGEOID': '0500000US04009', 'GEOID': '04009', 'NAME': 'Graham', 'LSAD': '06', 'ALAND': 11972305015, 'AWATER': 47705575}}
11 : {'arcs': [[-13, -41, -2, 41]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '021', 'COUNTYNS': '00025447', 'AFFGEOID': '0500000US04021', 'GEOID': '04021', 'NAME': 'Pinal', 'LSAD': '06', 'ALAND': 13897001099, 'AWATER': 22331619}}
12 : {'arcs': [[-29, -24, -14, -42, -1, -18]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '013', 'COUNTYNS': '00037026', 'AFFGEOID': '0500000US04013', 'GEOID': '04013', 'NAME': 'Maricopa', 'LSAD': '06', 'ALAND': 23826751660, 'AWATER': 64344166}}
13 : {'arcs': [[42, 43, -39, -11, -35]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '017', 'COUNTYNS': '00042808', 'AFFGEOID': '0500000US04017', 'GEOID': '04017', 'NAME': 'Navajo', 'LSAD': '06', 'ALAND': 25770082478, 'AWATER': 24078111}}
14 : {'arcs': [[44, -36, -40, -44, 45]], 'type': 'Polygon', 'properties': {'STATEFP': '04', 'COUNTYFP': '001', 'COUNTYNS': '00025441', 'AFFGEOID': '0500000US04001', 'GEOID': '04001', 'NAME': 'Apache', 'LSAD': '06', 'ALAND': 29001812294, 'AWATER': 54170779}}

In [26]:
# Create an empty list to hold summaries
summary_list = []

# loop through the data
for bob in data:
    county = bob["properties"]['NAME']
    arcs = bob["arcs"]
    
    # create summary dictionary
    summary_dict = {
        "County": county,
        "Polygons": arcs,
    }
    
    # Append the sumary dict to the list
    summary_list.append(summary_dict)

In [27]:
summary_list

[{'County': 'Pima', 'Polygons': [[0, 1, 2, 3, 4, 5, 6]]},
 {'County': 'Santa Cruz', 'Polygons': [[7, 8, -5]]},
 {'County': 'Gila', 'Polygons': [[9, 10, 11, 12, 13, 14]]},
 {'County': 'Yuma', 'Polygons': [[15, 16, 17, -7, 18]]},
 {'County': 'Cochise', 'Polygons': [[-4, 19, 20, 21, -8]]},
 {'County': 'Yavapai', 'Polygons': [[22, -15, 23, 24, 25]]},
 {'County': 'La Paz', 'Polygons': [[26, 27, -25, 28, -17, 29]]},
 {'County': 'Mohave', 'Polygons': [[30, 31, -26, -28, 32]]},
 {'County': 'Coconino', 'Polygons': [[33, 34, -10, -23, -32]]},
 {'County': 'Greenlee', 'Polygons': [[35, 36, -21, 37]]},
 {'County': 'Graham', 'Polygons': [[38, 39, -38, -20, -3, 40, -12]]},
 {'County': 'Pinal', 'Polygons': [[-13, -41, -2, 41]]},
 {'County': 'Maricopa', 'Polygons': [[-29, -24, -14, -42, -1, -18]]},
 {'County': 'Navajo', 'Polygons': [[42, 43, -39, -11, -35]]},
 {'County': 'Apache', 'Polygons': [[44, -36, -40, -44, 45]]}]

In [28]:
df = pd.DataFrame(summary_list) 
df

        County                           Polygons
0         Pima            [[0, 1, 2, 3, 4, 5, 6]]
1   Santa Cruz                       [[7, 8, -5]]
2         Gila          [[9, 10, 11, 12, 13, 14]]
3         Yuma             [[15, 16, 17, -7, 18]]
4      Cochise             [[-4, 19, 20, 21, -8]]
5      Yavapai            [[22, -15, 23, 24, 25]]
6       La Paz       [[26, 27, -25, 28, -17, 29]]
7       Mohave           [[30, 31, -26, -28, 32]]
8     Coconino          [[33, 34, -10, -23, -32]]
9     Greenlee                [[35, 36, -21, 37]]
10      Graham  [[38, 39, -38, -20, -3, 40, -12]]
11       Pinal               [[-13, -41, -2, 41]]
12    Maricopa    [[-29, -24, -14, -42, -1, -18]]
13      Navajo          [[42, 43, -39, -11, -35]]
14      Apache          [[44, -36, -40, -44, 45]]

# SQLite data to SQLAlchemy

In [37]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, distinct

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean

from pathlib import Path
import pandas as pd

In [38]:
Path('hri.sqlite').touch()

In [39]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///HRI.sqlite", echo=True)

In [40]:
engine.execute('''CREATE TABLE hri (county text, year int, ED_rates float, Hosp_rates float, SVI float, HeatDays float)''')
engine.execute('''CREATE TABLE ed_visit (county text, year int, ed_rate float)''')
engine.execute('''CREATE TABLE hospitalization (county text, year int, hosp_rate float)''')
engine.execute('''CREATE TABLE vulnerability (county text, year int, vul_rate float)''')
engine.execute('''CREATE TABLE extreme_heat_days (county text, year int, ext_heat_days float)''')
engine.execute('''CREATE TABLE ed_visit_35 (county text, year int, ed_rate_35 float)''')

2023-06-11 16:46:25,685 INFO sqlalchemy.engine.Engine CREATE TABLE hri (county text, year int, ED_rates float, Hosp_rates float, SVI float, HeatDays float)
2023-06-11 16:46:25,685 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:46:25,692 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:46:25,694 INFO sqlalchemy.engine.Engine CREATE TABLE ed_visit (county text, year int, ed_rate float)
2023-06-11 16:46:25,695 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:46:25,700 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:46:25,703 INFO sqlalchemy.engine.Engine CREATE TABLE hospitalization (county text, year int, hosp_rate float)
2023-06-11 16:46:25,704 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:46:25,709 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:46:25,714 INFO sqlalchemy.engine.Engine CREATE TABLE vulnerability (county text, year int, vul_rate float)
2023-06-11 16:46:25,714 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:46:25,719 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:46:25,723 INFO sqlalchemy.engine.Engine CREATE TABLE extreme_heat_days (county text, year int, ext_heat_days float)
2023-06-11 16:46:25,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:46:25,729 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:46:25,732 INFO sqlalchemy.engine.Engine CREATE TABLE ed_visit_35 (county text, year int, ed_rate_35 float)
2023-06-11 16:46:25,733 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:46:25,738 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\Noell\AppData\Local\Temp\ipykernel_8464\2643276125.py:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute('''CREATE TABLE hri (county text, year int, ED_rates float, Hosp_rates float, SVI float, HeatDays float)''')

In [45]:
# load the data into a Pandas DataFrame and write to sqlite table
hri = pd.read_csv('../data/HRI.csv')
hri.to_sql('hri', engine, if_exists='append', index = False)

ed_visit = pd.read_csv('../data/cleaned-AZ-EDVisits.csv')
ed_visit.to_sql('ed_rate', engine, if_exists='append', index = False)

hospital = pd.read_csv('../data/cleaned_AZ_Hospitalizations.csv')
hospital.to_sql('hospitalization', engine, if_exists='append', index = False)

vulnerability = pd.read_csv('../data/cleaned_AZ_Vulnerability.csv')
vulnerability.to_sql('svi', engine, if_exists='append', index = False)

extreme_heat_days = pd.read_csv('../data/ExtremeHeatDays.csv')
extreme_heat_days.to_sql('extreme_heat_days', engine, if_exists='append', index = False)

ed_visit_35 = pd.read_csv('../data/EDRates35.csv')
ed_visit_35.to_sql('ed_visit_35', engine, if_exists='append', index = False)

2023-06-11 16:55:27,799 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hri")
2023-06-11 16:55:27,800 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:55:27,802 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-11 16:55:27,805 INFO sqlalchemy.engine.Engine INSERT INTO hri (county, year, "ED_rates", "Hosp_rates", "SVI") VALUES (?, ?, ?, ?, ?)
2023-06-11 16:55:27,806 INFO sqlalchemy.engine.Engine [generated in 0.00181s] (('PIMA', 2011, 20.12, 4.79, None), ('PINAL', 2011, 37.73, 13.18, None), ('YUMA', 2011, 81.43, 5.31, None), ('ARIZONA', 2011, 30.36, 7.36, None), ('GREENLEE', 2013, 0.0, 0.0, None), ('GILA', 2011, 29.87, 0.0, None), ('MARICOPA', 2011, 31.31, 8.73, None), ('MOHAVE', 2011, 49.41, 11.43, None)  ... displaying 10 of 87 total bound parameter sets ...  ('YUMA', 2021, 82.7, 21.39, None), ('ARIZONA', 2021, 33.88, 9.87, None))
2023-06-11 16:55:27,809 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:55:27,822 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ed_rate")
2023-06-11 16:55:27,823 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:55:27,824 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ed_rate")
2023-06-11 16:55:27,824 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:55:27,826 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-11 16:55:27,827 INFO sqlalchemy.engine.Engine
CREATE TABLE ed_rate (
	county TEXT,
	year BIGINT,
	ed_rate FLOAT
)


2023-06-11 16:55:27,827 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2023-06-11 16:55:27,833 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:55:27,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-11 16:55:27,839 INFO sqlalchemy.engine.Engine INSERT INTO ed_rate (county, year, ed_rate) VALUES (?, ?, ?)
2023-06-11 16:55:27,840 INFO sqlalchemy.engine.Engine [generated in 0.00141s] (('COCHISE', 2011, 23.72), ('COCONINO', 2011, 11.04), ('GILA', 2011, 29.87), ('GRAHAM', 2011, 38.41), ('LA PAZ', 2011, 144.96), ('MARICOPA', 2011, 31.31), ('MOHAVE', 2011, 49.41), ('NAVAJO', 2011, 17.72)  ... displaying 10 of 149 total bound parameter sets ...  ('YAVAPAI', 2021, 28.35), ('YUMA', 2021, 82.7))
2023-06-11 16:55:27,842 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:55:27,853 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hospitalization")
2023-06-11 16:55:27,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:55:27,855 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-11 16:55:27,856 INFO sqlalchemy.engine.Engine INSERT INTO hospitalization (county, year, hosp_rate) VALUES (?, ?, ?)
2023-06-11 16:55:27,857 INFO sqlalchemy.engine.Engine [generated in 0.00091s] (('GILA', 2011, 0.0), ('GREENLEE', 2011, 0.0), ('MARICOPA', 2011, 8.73), ('MOHAVE', 2011, 11.43), ('PIMA', 2011, 4.79), ('PINAL', 2011, 13.18), ('YUMA', 2011, 5.31), ('GREENLEE', 2012, 0.0)  ... displaying 10 of 87 total bound parameter sets ...  ('YAVAPAI', 2021, 2.81), ('YUMA', 2021, 21.39))
2023-06-11 16:55:27,860 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:55:27,877 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("svi")
2023-06-11 16:55:27,878 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:55:27,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-11 16:55:27,882 INFO sqlalchemy.engine.Engine INSERT INTO svi (county, year, "SVI") VALUES (?, ?, ?)
2023-06-11 16:55:27,883 INFO sqlalchemy.engine.Engine [generated in 0.00089s] (('APACHE', 2010, 0.993), ('COCHISE', 2010, 0.864), ('COCONINO', 2010, 0.819), ('GILA', 2010, 0.801), ('GRAHAM', 2010, 0.984), ('GREENLEE', 2010, 0.736), ('LA PAZ', 2010, 0.871), ('MARICOPA', 2010, 0.707)  ... displaying 10 of 45 total bound parameter sets ...  ('YAVAPAI', 2016, 0.546), ('YUMA', 2016, 0.99))
2023-06-11 16:55:27,885 INFO sqlalchemy.engine.Engine COMMIT
2023-06-11 16:55:27,934 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("extreme_heat_days")
2023-06-11 16:55:27,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-11 16:55:27,937 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-11 16:55:27,939 INFO sqlalchemy.engine.Engine INSERT INTO extreme_heat_days ("County", "Year", extreme_heat_days) VALUES (?, ?, ?)
2023-06-11 16:55:27,939 INFO sqlalchemy.engine.Engine [generated in 0.00155s] (('Apache', 2011, 19), ('Apache', 2012, 19), ('Apache', 2013, 18), ('Apache', 2014, 5), ('Apache', 2015, 18), ('Apache', 2016, 16), ('Apache', 2017, 16), ('Apache', 2018, 31)  ... displaying 10 of 165 total bound parameter sets ...  ('Yuma', 2020, 36), ('Yuma', 2021, 24))
2023-06-11 16:55:27,941 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) table extreme_heat_days has no column named extreme_heat_days
[SQL: INSERT INTO extreme_heat_days ("County", "Year", extreme_heat_days) VALUES (?, ?, ?)]
[parameters: (('Apache', 2011, 19), ('Apache', 2012, 19), ('Apache', 2013, 18), ('Apache', 2014, 5), ('Apache', 2015, 18), ('Apache', 2016, 16), ('Apache', 2017, 16), ('Apache', 2018, 31)  ... displaying 10 of 165 total bound parameter sets ...  ('Yuma', 2020, 36), ('Yuma', 2021, 24))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [34]:
Base = automap_base() 
# reflect an existing database into a new model
Base.prepare(autoload_with=engine) 
# reflect the tables

In [35]:
# View all of the classes that automap found
Base.classes.keys()

[]

In [ ]:
# Save references to each table
ED = Base.classes.ED
Hospitalizations = Base.classes.hospitalizations
SVI = Base.classes.SVI

In [ ]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

In [ ]:
session.close()

# Analysis & Visualizations