In [2]:
# Dependencies
import pandas as pd
import requests
import json

In [8]:
EDRates_df = pd.read_csv('../../../data/EDRates35_wide.csv')
EDRates_df

,year,Apache,Cochise,Coconino,Gila,Graham,Greenlee,La Paz,Maricopa,Mohave,Navajo,Pima,Pinal,Santa Cruz,Yavapai,Yuma
0,2011,22.2,48.6,19.4,44.4,41.3,43.7,37.9,25.8,32.1,28.2,26.6,28.4,22.8,25.4,30.4
1,2012,25.9,45.0,18.0,42.8,40.6,63.6,41.2,25.4,33.4,34.9,24.8,27.5,25.6,29.1,28.4
2,2013,21.7,42.8,17.1,39.6,28.5,52.3,25.8,24.4,31.7,32.2,23.4,25.8,26.9,25.2,27.9
3,2014,17.5,39.8,15.7,38.9,37.9,24.8,47.9,24.3,30.3,30.8,22.4,25.9,25.3,26.1,32.0
4,2015,23.1,37.5,18.8,34.3,45.5,43.8,32.7,25.3,34.5,32.2,25.0,29.2,26.3,27.7,35.1
5,2016,23.0,37.1,19.7,37.6,37.0,46.7,30.5,25.9,34.1,33.1,25.7,27.4,24.9,27.6,31.7
6,2017,19.4,38.1,17.7,44.3,54.8,54.0,23.4,26.1,33.4,34.0,24.8,27.3,23.9,27.7,34.4
7,2018,21.3,39.1,18.6,36.3,43.2,49.0,24.2,23.6,39.1,28.9,26.0,27.7,26.7,27.8,34.3
8,2019,25.4,36.8,16.1,43.3,33.2,36.6,45.6,24.0,38.9,29.6,25.1,27.8,23.7,29.3,28.0
9,2020,19.3,30.8,15.9,40.4,43.5,47.3,45.8,20.6,38.2,31.1,20.4,24.3,26.0,24.5,29.8
10,2021,24.0,31.8,16.9,44.5,29.2,41.2,44.2,21.0,34.6,29.0,21.7,25.8,22.8,24.5,28.8

In [9]:
Xheatdays_df = pd.read_csv('../../../data/ExtremeHeatDays_wide.csv')
Xheatdays_df

,year,Apache,Cochise,Coconino,Gila,Graham,Greenlee,La Paz,Maricopa,Mohave,Navajo,Pima,Pinal,Santa Cruz,Yavapai,Yuma
0,2011,19,34,17,30,28,25,22,28,18,21,32,31,37,24,25
1,2012,19,25,20,27,22,22,15,21,14,20,27,24,29,27,17
2,2013,18,19,16,16,14,17,13,13,18,16,14,13,17,19,12
3,2014,5,4,4,3,3,4,3,2,4,3,4,2,6,3,6
4,2015,18,14,19,15,13,14,20,16,15,19,13,15,12,17,22
5,2016,16,19,17,22,19,18,27,23,25,20,21,26,21,22,24
6,2017,16,17,16,14,15,17,22,19,22,15,17,16,15,16,21
7,2018,31,18,28,24,22,19,19,19,22,29,17,21,17,19,19
8,2019,23,26,22,31,24,24,22,26,22,27,28,26,24,26,22
9,2020,38,35,36,48,48,46,39,45,36,41,50,49,33,35,36
10,2021,24,16,22,22,16,16,23,22,26,21,16,21,14,22,24

In [17]:
# Opening JSON file
f = open('arizona-with-county-boundaries_1085.geojson')
  
# returns JSON object as 
# a dictionary
data = json.load(f)
  
# Iterating through the json
# list
for i in data['features']:
    county_data = i
  
# Closing file
f.close()

In [18]:
county_data

{'type': 'Feature',
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-109.047, 33.776],
    [-109.271, 33.777],
    [-109.353, 33.778],
    [-109.362, 33.755],
    [-109.362, 33.746],
    [-109.354, 33.733],
    [-109.366, 33.731],
    [-109.379, 33.725],
    [-109.395, 33.722],
    [-109.399, 33.715],
    [-109.426, 33.717],
    [-109.443, 33.716],
    [-109.455, 33.704],
    [-109.472, 33.702],
    [-109.478, 33.691],
    [-109.479, 33.669],
    [-109.487, 33.664],
    [-109.495, 33.652],
    [-109.504, 33.644],
    [-109.513, 33.642],
    [-109.516, 33.636],
    [-109.532, 33.619],
    [-109.544, 33.617],
    [-109.554, 33.62],
    [-109.562, 33.626],
    [-109.579, 33.616],
    [-109.589, 33.616],
    [-109.604, 33.612],
    [-109.604, 33.601],
    [-109.615, 33.594],
    [-109.62, 33.584],
    [-109.644, 33.586],
    [-109.66, 33.584],
    [-109.675, 33.573],
    [-109.67, 33.558],
    [-109.676, 33.555],
    [-109.684, 33.543],
    [-109.706, 33.533],
    [-109.727, 33.516],
    [-109.74, 33.51],
    [-109.744, 33.504],
    [-109.741, 33.494],
    [-109.746, 33.485],
    [-109.766, 33.476],
    [-109.783, 33.476],
    [-109.783, 33.482],
    [-109.8, 33.489],
    [-109.807, 33.489],
    [-109.803, 33.504],
    [-109.823, 33.51],
    [-109.819, 33.521],
    [-109.823, 33.528],
    [-109.832, 33.534],
    [-109.843, 33.533],
    [-109.849, 33.544],
    [-109.856, 33.547],
    [-109.87, 33.561],
    [-109.877, 33.559],
    [-109.882, 33.57],
    [-109.891, 33.567],
    [-109.891, 33.778],
    [-109.858, 33.778],
    [-109.859, 33.866],
    [-109.86, 34.126],
    [-109.844, 34.126],
    [-109.844, 34.26],
    [-109.843, 34.376],
    [-109.844, 34.474],
    [-109.86, 34.56],
    [-109.847, 34.647],
    [-109.848, 34.796],
    [-109.848, 34.823],
    [-109.841, 34.823],
    [-109.841, 34.845],
    [-109.84, 34.912],
    [-109.84, 35],
    [-109.839, 35.03],
    [-109.84, 35.083],
    [-109.838, 35.169],
    [-109.834, 35.519],
    [-109.827, 35.519],
    [-109.827, 35.662],
    [-110, 35.663],
    [-110, 35.837],
    [-110.001, 36.427],
    [-110.001, 36.999],
    [-109.704, 36.999],
    [-109.474, 36.999],
    [-109.045, 36.999],
    [-109.045, 36.776],
    [-109.045, 36.681],
    [-109.045, 36.017],
    [-109.046, 35.664],
    [-109.046, 35.353],
    [-109.046, 35.166],
    [-109.046, 34.961],
    [-109.046, 34.817],
    [-109.046, 34.601],
    [-109.046, 34.391],
    [-109.046, 34.309],
    [-109.047, 34.139],
    [-109.047, 34.052],
    [-109.047, 33.776]]]},
 'properties': {'name': 'Apache',
  'id': '04001',
  'STATE': 'AZ',
  'TYPE': 'County',
  'CNTRY': 'USA'},
 'id': '04001'}

In [26]:
test={}
for county in Xheatdays_df:
    test = {Xheatdays_df.year[1]: Xheatdays_df.Apache[1]}

test

{2012: 19}